table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px ;
  padding: 8px;
  
}

th {
  background-color: #D3EBC8;
  text-align: left;
}


tr:hover {
  background-color: #f1f1f1;
}

.change, .edit {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.change {
  background-color: #62B03D;
  color: white;
  margin-left: 900px;
}

.edit {
  background-color: #62B03D;
  color: white;
}

.change:hover {
  background-color: #007bb5;
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
  th, td {
    padding: 6px;
    font-size: 14px;
  }
  .change, .edit {
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  th, td {
    padding: 4px;
    font-size: 12px;
  }
  .change, .edit {
    padding: 6px 12px;
    font-size: 12px;
  }
  table {
    font-size: 12px;
  }
}
