.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.owner-details,
.land-details,
.bank-details {
  border: 1px solid #ddd;
  margin: 20px;
  padding: 20px;
  width: 80%;
}

h2 {
  background-color: #e9f5e9;
  padding: 10px;
  margin: -20px -20px 20px -20px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.images {
  display: flex;
  justify-content: center;
}

.images img {
  width: 100px;
  height: 100px;
  margin: 0 10px;
}

.approve-button {
  margin-top: 20px;
  margin-left: 800px;
}

.approve-button button {
  padding: 10px 20px;
  background-color: #ff5555;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.approve-button button:hover {
  background-color: #ff0000;
}
