body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

.employee-details {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.employee-details h2 {
  margin-bottom: 20px;
  margin-right: 500px;
}

.employee-details table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: rgb(235, 248, 235);
}

.employee-details th,
.employee-details td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.employee-details th {
  background-color: rgb(197, 250, 197);
}

.button {
.edit-button,
.delete-button,
.add-button,
.change-arrangement-button {
  background-color: #4caf50; /* Green */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
.edit-button:hover,
.change-arrangement-button:hover {
  background-color: #45a049;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.controls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.controls .search-bar {
  margin-bottom: 10px;
}

.table-container {
  margin-top: 20px;
}

.data-table {
  margin-top: 20px;
}

.form-container {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid  #45a049; /* Border color */
  border-radius: 10px;
  background-color: #f9f9f9; /* Background color */
  max-width: 500px; /* Maximum width for the form */
  margin: 0 auto; /* Center the form */
}

.form-container h2 {
  margin-bottom: 20px;
}

.new-button,
.approve-button {
  margin-top: 10px;
}
.UAD{
  margin-left: 150px;
  background-color: #45a049;

}
.controls text-end{
border-radius: 10px;

}
.btn1{
  margin-left: 1050px;

}