body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

.employee-details {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.employee-details h2 {
  margin-bottom: 20px;
  margin-right: 500px;
}

.employee-details table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: rgb(235, 248, 235);
}

.employee-details th,
.employee-details td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.employee-details th {
  background-color: rgb(197, 250, 197);
}

.edit-button,
.change-arrangement-button {
  background-color: #4caf50; /* Green */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.edit-button:hover,
.change-arrangement-button:hover {
  background-color: #45a049;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
